@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<div class="container-fluid mt-2 mb-4 rounded-4" style="margin: auto;">

    <section class="mt-4">
        <h3 class="text-center m-4">Developer's' Contact Details</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="card h-100 shadow-lg">
                    <div class="card-header bg-dark text-light">
                        <h5 class="text-center ">Developer 1</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Name : Nirav Patel</h5>
                        <h5 class="card-title">Enrollment : 20SOEIT11019</h5>
                        <h5 class="card-title">Email : npatel046@rku.ac.in</h5>
                        <h5 class="card-title">Contact : 7284099688</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header bg-dark text-light">
                        <h5 class="text-center">Developer 2</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Name : Jeel Kavathiya</h5>
                        <h5 class="card-title">Enrollment : 20SOEIT11013</h5>
                        <h5 class="card-title">Email : jkavathiya300@rku.ac.in</h5>
                        <h5 class="card-title">Contact : 7016931598/h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
