
@{
    ViewBag.Title = "SuccessOrder";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<div class="container-fluid mt-2 mb-2 shadow-lg bg-white rounded" style="width: 80%; border: 2px solid black;">
    <table class="table table-borderless" style="color: black;">
        <tr class="row">
            <td class="col text-center">
                <img src="~/Images/oc.gif" style="width:60%;" alt="order success " />
            </td>
        </tr>
        
        <tr class="row">
            <td class="col text-center">
                <a href="@Url.Action("Index","UserHome")" class="btn btn-success ">Continue Shopping </a>
            </td>
        </tr>
    </table>

</div>
3

